body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: darken($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-color;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  vertical-align: middle;
  border: 0;
}

// Added by me / Mak / Mayank - To underline the hyperlinks in my text body (by default reader theme does not underline hyperlinks)
.mak-link {
  text-decoration: underline;   //added by me 
  text-decoration-color: blue;   //added by me
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

hr {
  margin: 40px 0;
}

.shadow {
  box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05) !important;
}

.mark,
mark {
  padding: 0;
  background-color: transparent;
  border-bottom: 3px solid $primary-color;
  color: $primary-color;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &-sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &-title {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 0.06em;

    &::before {
      position: absolute;
      left: 0;
      bottom: -8px;
      content: "";
      height: 2px;
      width: 60px;
      background-color: $primary-color;
    }
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.bg-primary {
  background: $primary-color !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-default {
  color: $text-color !important;
}

.border-default {
  border-color: $border-color !important;
}

.form-control {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.st0 {
  fill: $primary-color;
}

.sidebar-home {
  margin-top: 47px;

  @include desktop {
    margin-top: 0;
  }
}

.sidebar-inner {
  margin-top: 65px;

  @include desktop {
    margin-top: 0;
  }
}


// Disable Text Selection (it will not disable right click, so images can still be copied)
// Source - (https://www.w3docs.com/snippets/javascript/how-to-disable-text-selection-copy-cut-paste-and-right-click-on-a-web-page.html)

body {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	// color: #cc0000;
  }

  
// CSS added by me / Mak / Mayank to design the Table of Content on each post (https://www.madcapsoftware.com/blog/css-tip-creating-styled-boxes-notes-warnings-examples-tips/)
.toc-mak
  {
       -moz-border-radius: 6px;
       -webkit-border-radius: 6px;
       background-color: #f0f7fb;
      //  background-image: url(images/pencil.png);
      //  background-position: 9px 0px;
      //  background-repeat: no-repeat;
       border: solid 1px #3498db;
       border-radius: 6px;
       line-height: 18px;
       overflow: hidden;
       padding: 11px 36px;
       margin-top: 15px;
       margin-bottom: 15px;
  }

  // CSS added by me / Mak / Mayank to design the danger alert box, if needed on any post 
.danger-mak
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #fcedf2;
    //  background-image: url(images/pencil.png);
    //  background-position: 9px 0px;
    //  background-repeat: no-repeat;
     border: solid 1px #db34b1;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 11px 36px;
     margin-top: 15px;
     margin-bottom: 15px;
}